body{
  margin: 0;
  padding: 0;
}
.loginwrap{
  margin:auto;

}
#commentofuser{
  min-width: 300px;
}
.login{
  margin:100px auto;
  max-width: 600px;
  min-height: 450px;
  max-height: 800px;
  padding: 12px;
  background-color: #1F2937;
  color:#ffffff;
  border-style: none;
  border-radius: 20px;
}
.loginmodal{

  max-width: 90%;
  margin:auto;
  position:relative ;
}
.profilelabel{
  font-size: 22px;
  margin-top: 12px;
}
.welcome{
  text-align: right;
  position: absolute;
  right:12px;
  top:12px;


}

.inputlogin{
  border-style: none !important;
  padding: 12px;
  margin:16px 0px 8px  0px;
}
.inputlogin:focus{
  outline: none !important;
  border-style: none !important;
  border-color:none !important;
  box-shadow: none !important;
}
.loginbutton{
  cursor: pointer;

  border-style: none;
  border-radius: 4px;
  padding: 8px 80px;
  position:absolute ;
  right:0px;
  margin:40px 0px 12px 12px;

}
#alert{
  position: fixed;
  right:12px;
  top:80px;
}
.buttonwrap{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.activesign{
  background-color:#10B981 !important;
}
.loginbut{
  cursor: pointer;
padding:12px 98px;
border-radius: 0.25rem;
margin:8px;
background-color:#F9FAFB;
color:#000000;
}

.signupbut{
  cursor: pointer;
  padding:12px 98px;
  margin:8px;
  border-radius: 0.25rem;
  background-color:#F9FAFB;
  color:#000000;
}
.warning{
  color:#EF4444;

}
.App{
  margin: 20px 15%;
}
.cardwrap{
  padding: 20px;
  max-width: 100%;
  background-color: #ffffff  ;
}
.secwrap{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.secondcol{
  max-width: 80%;
}

.avatar{
  border-style: none;
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  margin: 12px 0px;
}
.avatarimg{
border-radius:50%;
width:100%;
height: 100%;
}
.username{
  font-size: 16px;
  color: #000000;
  font-weight: 800;
  padding: 8px 18px 12px;
}
.dot{
  display: inline-block;
  background-color:#94A3B8;
  padding:1px;
  margin-bottom: 2px;
  border-radius: 50%;
  border-style: none;
}
.userid{
  font-size: 16px;
  font-weight: 400;
  color:#94A3B8  ;
  padding-left:8px;
}
.date{
  font-size: 16px;
  font-weight: 400;
  color:#94A3B8  ;
  padding-left:5px;
}
.content{
  font-size: 16px;
  padding: 0px 18px 18px 18px ;
}
.cardlink{
  padding:0px 18px;
}
.cardbodycustom{
  padding:0 !important;

}
.notfound{
  margin: 50px auto;
  text-align: center;
}
.cardtextcustom{
  padding:20px 12px;
}

.headingcard{

}
.websitelink{
  color:#94A3B8;
  text-decoration: none;
}
.websitelink:active{
  
  color:#94A3B8;
  text-decoration: none;
}
.websitelink:hover{
  color:#94A3B8;
  text-decoration: none;
}
.reactions{
 display: flex;
 flex-direction: row;
 padding: 18px 24px 20px;
}
.comment{
  max-width: 25%;

}
.like{
  max-width: 25%;
}
.retweet{
  max-width: 25%;

}
.likeicon{
  width:20%; cursor: pointer;
}
.commenticon{
  width:20%; cursor: pointer;
}
.retweeticon{
  width:20%; cursor: pointer;
}
.count{
  font-size: 12px;
  padding-left: 6px;
}
.commentsdisplay{
  padding:0px 18px;
  margin-left: 30px;
  max-width: 100%;
}
.commentswrap{
  
 
}
.cardcomment{
  display: flex;
  flex-direction: row;
}
.userdetailwrap{
  display: flex;
  flex-direction: column;
}
.commentavatarimg{
  border-style: none;
  border-radius: 50%;
  max-width: 40px;
  flex-shrink: 0;
  max-height:40px;
  margin: 8px 0px;
}
.commentstr{
  font-size: 16px;
  padding: 8px 18px 12px;
  margin: 0;
}
.commentavatar{
  width:100%;
  height: 100%;
  border-radius: 50%;
}
.btnadd{
  padding: 12px;
  margin-right: 18px;
  border-style: none;
  float: right;
  background-color: none;
}
.navbarbar{
 padding: 12px;
 
 background-color: #1F2937 !important;
}
.detailphoto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.details{
  margin: 0px 40px;
}
.photo{
  width: 90%;
  height:100%
}

.navtext{
  color: #ffffff !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler:focus {
  box-shadow: none !important;
 
}

#commentofuser{
  padding:12px;
  border-style: solid ;
 border-width: 0px 0px 2px 0px;
  border-color:#94A3B8;
}
#commentofuser:focus{
 outline: none;
}
.profilewrap{
  margin: 100px ;
}
.userprofile{
  border-style: solid;
  border-radius: 50%;
  max-height: 200px;
  width: 200px;
  flex-shrink: 0;
  border-color: #1F2937;
}
.photo{
  border-radius: 50%;
  width: 100%;
  height: 100%;
 
}
.profilehead{
  padding: 10px 0px 50px 0px;
}
.profiledetails{
  padding: 12px 0px;
}
.detailshead{
  margin-bottom:40px;
}
.detailslist{
  width: 300px !important;
  text-align: left;
  background-color: #1F2937  !important;
  color:#ffffff !important;
}
.post{

}

.pc{
  width: 400px !important;
  margin:20px;
  min-height: 100px;
}
@media only screen and (max-width: 1100px) {
  .App {
    margin: 20px 15%;
  }
  .socialdetails{
    margin : 0px 240px;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    margin: 20px 0;
  }
  .socialdetails{
    margin : 0px 40px;
  }
  .welcome{
    text-align: right;
    color:#ffffff;
    margin:8px ;
    position: absolute;
    right: 54px;
    top: 4px;
  
  
  }
}
@media only screen and (max-width: 580px) {
  .App {
    margin: 20px 0;
  }
  .username{
    padding: 8px;
  }
  .commentsdisplay{
    margin-left: 10px;
    padding: 0;
  }
  #commentofuser{
    min-width: 20px ;

  }
  .login{
    max-width: 250px;
  }
  .loginbut,.signupbut{
    padding:12px;
  }s
  .loginmodal{
     max-width:100%;
  }
  .loginbutton{
    padding: 8px;
  }
  .welcome{
    display: none;
  }
  .profilewrap{
    margin: 20px ;
  }
  .details{
    margin: 0;

  }
  .socialdetails{
    margin : 0px;
  }
  .detailslist{
    width: 250px !important;
  }
}
